{{ form_start(form) }}
  
     {{ form_row(form.name) }}
     {{ form_row(form.description) }}
     {{ form_row(form.url) }}
     {{ form_row(form.priority) }}
     {{ form_row(form.visible) }}
     
     <h3>Promotion</h3>
     
    {{ form_row(form.type) }}
    
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
